@import url('https://googleapis.com');

body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, #18183b, #030324);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Press Start 2P", system-ui;
}

.scanlines::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(246, 243, 243, 0) 50%, 
    rgba(73, 64, 64, 0.25) 50%
  );
  background-size: 100% 4px;
  pointer-events: none;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 200;
  font-style: normal;
}

h1.titulo {
    font-family: "Press Start 2P", system-ui;
    font-weight: 200;   
    font-style: normal;
    text-align: center;
    color: #ffdd57;
    text-shadow: 2px 4px #9e8b29;
  }

p.subTitulo {
    font-size: 10px;   
    text-align: center;
    color: #938ea5;
}
#player, #enemy{
  padding-left: 35%;
}

.box {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: #2a2a51;
    border: 8px solid #706487;
    padding: 10px;
    width: 100%;
    box-shadow: 
    inset 0 -7px 0 0 #0b0b31,
    inset -7px 0 0 0 #0b0b31, 
    inset 0 7px 0 0 #534a63, 
    inset 7px 0 0 0 #534a63
}

.placar-jogador{
    color: #f06bc6;
}

.placar-cpu {
    color: #6bbdf0;
}

.box-jogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-items: center;
    margin-top: 1rem;
    background-color: #030324;
    border: 8px solid #706487;
    font-size: 10px;
    color: #938ea5;
    padding: 10px;
    width: 100%;
    box-shadow: 
    inset 0 -7px 0 0 #0b0b31,
    inset -7px 0 0 0 #0b0b31, 
    inset 0 7px 0 0 #534a63, 
    inset 7px 0 0 0 #534a63;
}

#aberto1, #aberto2, #contador {
    font-size: 10px; 
    padding-left: 30%;
}

#fechado1, #fechado2 {
    font-size: 75px; 
    margin: 20px;
}

#resultado {
    grid-column: 1 / 4;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px; 
}
#box-escolha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 4%;
}

.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #030324;
    border: 8px solid #706487;
    font-family: 'Press Start 2P', monospace;
    color: #938ea5;
    padding: 15px 20px;
    box-shadow:
    inset 0 -7px 0 0 #0b0b31,
    inset -7px 0 0 0 #0b0b31,
    inset 0 7px 0 0 #534a63,
    inset 7px 0 0 0 #534a63;
}

.emoji {
    font-size: 45px;
}

.texto {
    margin-top: 12px;
    font-size: 9px;
}

.botao:hover {
    cursor: pointer;
    transform: translateY(4px);
}

.botao:active {
    transform: translateY(12px);
    box-shadow:
    inset 0 4px 0 #0b0b31;
}

.escondido{
  display:none;
}

#reset {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#jogar-novamente {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #ffdd57;
    border: 4px solid #030303;
    font-family: 'Press Start 2P', monospace;
    color: #000000;
    padding: 10px 15px;
}

#jogar-novamente:hover {
    cursor: pointer;
    transform: translateY(4px);
}

#zerar-placar {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #2a2a51;
    border: 8px solid #706487;
    font-family: 'Press Start 2P', monospace;
    color: #938ea5;
    padding: 10px 15px;
    box-shadow:
    inset 0 -7px 0 0 #0b0b31,
    inset -7px 0 0 0 #0b0b31,
    inset 0 7px 0 0 #534a63,
    inset 7px 0 0 0 #534a63;
}

#zerar-placar:hover {
    cursor: pointer;
    transform: translateY(4px);
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    font-size: 10px; 
    color: #938ea5;
    text-align: center;
}

.arcade-marquee {
  width: 100%;
  margin-top: 10px;
  background-color: #18183b;
  border-top: 5px solid #706487;
  border-bottom: 5px solid #706487;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 10px 0;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
  color: #ffdd57;
  animation: desfilar 17s linear infinite;
}

.shake {
  animation: chacoalhar 0.3s ease-in-out infinite;
}

.animar {
  animation: pulso 1s ease-in-out forwards;
  color:#ffdd57;
}

.texto-pisca {
  animation: piscar 0.8s infinite;
}

.vitoria {
  color: #ffdd57;
  font-size: 25px;
  border: 3px solid #ffdd57;
  padding: 12px ;
  animation: surgirDoFundo 0.2s ease-out forwards;
}

.perda {
  color: #d71b1b;
  font-size: 25px;
  border: 3px solid #d71b1b;
  padding: 12px ;
  animation: surgirDoFundo 0.2s ease-out forwards;
}

.empate{
  color: #938ea5;
  font-size: 25px;
  border: 3px solid #938ea5;
  padding: 12px ;
  animation: surgirDoFundo 0.2s ease-out forwards;
}

#moeda-caindo {
  width: 100px;
  animation: cair 1.2s ease-out forwards;
  animation-direction: reverse;
  animation-iteration-count: 2;
}

@keyframes cair {
  0% {
    transform: translateY(-250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes desfilar {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes chacoalhar {
  0% { transform: translateX(15px); }
  25% { transform: translateX(-15px); }
  50% { transform: translateX(15px); }
  75% { transform: translateX(-15px); }
  100% { transform: translateX(15px); }
}

@keyframes pulso {
  0% { transform: scale(4); opacity: 0; }
  20% { transform: scale(1); opacity: 1; }
  80% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.8); opacity: 0; }
}

@keyframes piscar {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes surgirDoFundo {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px){
  header {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  h1.titulo {
    font-size: 27px;  
  }
  main {
    width: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.8rem;
  }
#box-escolha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-items: center;
    margin-right: 5%;
}
.botao {
    padding: 15px 20px;
    }

.emoji {
    font-size: 29px;
}

.texto {
    margin-top: 12px;
    font-size: 8px;
}

#reset {
  gap: 10px;
  width:fit-content;
}

h3 {
  font-size: 0.6rem;
}

#jogar-novamente, #zerar-placar {
font-size: 0.6rem;
border: 4px solid;
}
.arcade-marquee {
  padding: 1px ;
}
}